svg {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#signal-actions {
    background: #f0f0f0;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}
